body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 20px;
}

#productos, #facturaForm, #ticket {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.producto {
    border: 2px solid #ddd;
    padding: 5px; /* Aumentar padding */
    margin: 5px;  /* Aumentar margen */
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
    transition: border-color 0.3s, background-color 0.3s; /* Añadir transición para el color de fondo */
    width: calc(10% - 1px); /* Ajustar ancho */
    box-sizing: border-box;
    font-size: 14px; /* Ajustar tamaño de la fuente */
}

.producto:hover {
    border-color: #333;
    background-color: #f0f0f0; /* Cambiar color de fondo al pasar el cursor */
}

label, input, button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #555;
}

#ticket {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    word-wrap: break-word; /* Permitir que el texto se ajuste */
}

th {
    background-color: #f2f2f2;
}

/* Estilos responsivos */
@media (max-width: 600px) {
    .producto {
        width: calc(100% - 24px); /* Ajustar ancho para pantallas pequeñas */
        font-size: 12px; /* Reducir tamaño de la fuente */
    }
    table, th, td {
        font-size: 12px;
        padding: 5px;
    }
}
